:root {
    --primary-color: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
    --secondary-font: "Indie Flower", serif;
}

    body {
     margin-top: 100px;
     margin-bottom: 100px;
    }

    h1, h2, h3 {
        font-family: var(--secondary-font);
    }

    form {
        padding: 1rem;
      }
      
      input[type="text"],
      input[type="email"] {
        display: block;
        width: 50%;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: 1px solid rgba(20, 6, 150, 0.25);
      }
      
      input[type="submit"] {
        background-color: rgb(20, 6, 150);
        color: #FFF;
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: none;
      }

   
    .about-page {
            padding: 20px 30px;
    }

.navbar {
    background-image: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
    color: white;
}

.navbar-icon {
    color:white;
    margin-left: 20px;
}

.nav-link {
    color: white !important;
   margin-left: 20px;
}

.img-fluid {
    margin: 20px 0 0;
}

.gradient-color {
    background-color: var(--primary-color);
}

.project-btn, .learn-more-button {
    text-decoration: none;
    border: 1px solid rgb(20, 6, 150);
    background-color: rgb(20, 6, 150);
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
}

.content h1, h2, h3 {
    font-family: var(--secondary-font);
}

.content h2 {
    font-size: 50px;
    margin: 20px 0 0;
    line-height: 1.5;
    }

.content h3 {
font-size: 34px;
margin: 20px 0 0;
line-height: 1.5;
}

.content p {
    font-size: 15px;
}


.footer {
    background: var(--primary-color);
    text-align: center;
    color: white;
    padding: 15px 20px;
}

.fa-brands {
    color: rgb(20, 6, 150);
    font-size: 20px;
    margin-top: 12px;
}

.submit-btn {
    padding: 10px 15px;
    border-radius: 4px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color:rgb(166, 6, 153)
}

@media (max-width: 992px) {

    body {
        margin-bottom: 100px;
    }

      .content h1 {
        font-size: 40px;
        line-height: 1.5;
    }

    .content h2 {
        font-size: 35px;
    }

   .content p {
        font-size: 15px;
    }

    .content {
        padding: 0;
        margin: 20px 10px;
    
    }

    input[type="text"],
      input[type="email"] {
        display: block;
        font-size: 20px;
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: 1px solid rgba(20, 6, 150, 0.25);
      }
      
      input[type="submit"] {
        background-color: rgb(20, 6, 150);
        color: #FFF;
        font-size: 20px;
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: none;
      }

      form {
        margin-top: 30px;
        margin-bottom: 30px;
      }
}