:root {
    --primary-color: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
    --secondary-font: "Indie Flower", serif;

}

    h1 {
        font-weight: bold;
     
    }

    h2 {
        font-weight: lighter;
    }

    h3 {
        font-family: var(--secondary-font);

    }

    ul {
        padding: 0px !important;
    }

    li {
        list-style: none;
    }

    form {
        padding: 1rem;
        width: 50%;
       
      }
      
      input[type="text"],
      input[type="email"] {
        display: block;
        width: 100%;
        padding: 0.8rem;
        font-size: 0.9rem;
        margin-top: 1px;
        border-radius: 0.3rem;
        border: 1px solid rgb(218, 223, 234);
      }
      
      input[type="submit"] {
        display: block;
        width: 100%;
        background-color: #C9379D;
        color: #FFF;
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
        margin-top: 1px;
        border-radius: 0.3rem;
        border: none;
      }

      .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
     
}

    nav .navbar-nav li a {
        font-size: 14px;
        color: #C9379D !important;
        text-decoration: none;
        margin-left: 10px;
        padding: 5px 10px;
        margin-right: 20px;
  }

   nav .navbar-nav li a:hover {
        text-decoration: none;
  }

    .nav-link {
        transition: all 100ms ease-in-out;
    }

    a.nav-link-project-page {
        padding: 0px !important;
        margin: 0px !important;
    }

    a.nav-link-project-page:hover {
        color: #4058A0;
    }
        
    a.contact-link {
        font-size: 13px;
        border: 1px solid #C9379D;
        border-radius: 15px;
        padding: 5px 10px;
        color: #C9379D;
        background: white;
        text-decoration: none;
        margin-left: 20px;
    }

    .contact-link:hover {
        color: white !important;
        background-color: #C9379D;
        text-decoration: none;
    }

    .nav-link-icon {
        font-size: 22px !important;
        margin-left: 20px;
        color: #C9379D;
        padding: 12px 8px 12px 8px;
        transition: all 100ms ease-in-out;
}

    .header {
        margin-top: 15px;
        text-align: center;
    }

    .portrait {
	    display: flex;
	    flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .shape-outer {
        display: flex;
        flex-shrink: 0;
        height: calc(150px + 4vw);
        width: calc(150px + 4vw);
        background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

    .shape-inner {	
        height: calc(130px + 4vw);
        width: calc(130px + 4vw);
        background: url(https://avatars.githubusercontent.com/u/177559638?s=400&u=7227da6025ba8b4a680f8401b5a76d1853b566cd&v=4) no-repeat center;
        background-size: cover;
        margin: auto;
}

    .octagon {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    		clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

    .hero-body {
        text-align: center;
        background-color: #4058A0;
        color: white;
        padding: 100px 72px 270px 72px ;
    }

    .resume-link {
        color: #fff;
        text-decoration: underline !important;
    }

    .resume-link:hover {
        color: #C9379D;
    }

    .section.skills {
        text-align: center !important;
        margin-top: -14rem;
        padding: 1rem;
    }

    .project-link {
        color: black
    }

      .project-link:hover {
        color: #C9379D;
    }

    .img-fluid {
        margin: 20px 0 0;
}

    .has-text-center {
        text-align: center !important;
    }

    .box {
        background: #FFF;
        box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        border-radius: 12px;
    }

    div.col-lg-6 {
        padding: 60px 40px;
        border: none;
    }

     div.second-child {
        border-left: 1px solid #E6ECF8;
    }


    .skill-section-titles {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 1.5rem;
    }

     .section.skills .box .content .columns .column {
        padding: 24px 80px 16px 24px;
     }

    .content h2 {
        font-size: 50px;
        margin: 20px 0 0;
        line-height: 1.5;
    }

    .content h3 {
        font-size: 34px;
        margin: 20px 0 0;
        line-height: 1.5;
}

    .content p {
        font-size: 15px;
}

    .footer {
        text-align: center;
        padding: 15px 20px;
}

    .social-links {
        display: flex;
        margin-top: 18px;
        margin-bottom: 15px;
        justify-content: center;
}

    .social-links a {
        margin: 0 10px;
        color: #4058A0;
        background: rgb(226, 237, 243);
        padding: 10px 17px;
        font-size: 20px;
        border-radius: 50%;
        transition: all 100ms ease-in-out;
}

    .social-links a:hover {
        color: white;
        background-color: #C9379D;
}

    .header-contact-page {
        text-align: center;
}

    div.footer {
    font-size: 10px;

}

    .footer a {
        font-size: 10px;
        color: rgba(0, 0, 0, .5);
        text-decoration: none;
        transition: all 100ms ease-in-out;
}

    .footer a:hover {
        color:rgb(121, 152, 177)

}

@media (max-width: 992px) {

    header {
        margin-top: 10px;
    }

    body {
        margin-bottom: 3px;
        margin-top: 12px;
    }

      .content h1 {
        font-size: 25px;
        line-height: 1.5;
        margin-top: 12px;
   
    }

    .content h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 22px;
    }

     .content h4 {
        font-size: 18px;
    }

   .content p {
        font-size: 15px;
    }

    .content {
        padding: 0;
        margin: 20px 10px;
    
    }

    nav .navbar-nav li a {
        font-size: 16px;
        color: #C9379D !important;
        text-decoration: none;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding: 0px;
    }  
    
    nav button.navbar-toggler {
        padding: 8px !important;
        margin-right: 13px !important;
    }

    a.nav-link-icon {
        font-size: 23px !important;
        margin-left: 15px;
        color: #C9379D;
        padding: 0px;

    }

    a.nav-link-project-page {
        font-size: 16px;
        margin: 0px !important;
        padding: 0px !important;
    }

      div.col-lg-6 {
        display: block;
        padding: 40px 30px;

    }

    div.second-child {
        border-top: 1px solid #E6ECF8;
    }

    .projects {
        padding: 0 !important;
    }

        a.contact-link {
        font-size: 16px !important;
        border: none !important;
        padding: 0px !important;
        color: #C9379D;
        text-decoration: none !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .contact-link:hover {
        color: #C9379D !important;
        background-color: #FFF;
        text-decoration: none;
    }

    input[type="text"],
      input[type="email"] {
        display: block;
        font-size: 20px;
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: 1px solid rgb(218, 223, 234);
      }
      
      input[type="submit"] {
        background-color: #C9379D;
        color: #FFF;;
        color: #FFF;
        font-size: 20px;
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border: none;
      }

      form {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
      }

      .hero-body {
        padding: 50px 30px 260px 30px;
      }

      .footer {
        font-size: 12px;
        margin-top: 5px;
     
}
}


